h1{
    font-family: $main-font;
}
h3{
    font-family: $main-font;
}
h2{
    font-family: $main-font;
}
p{
    font-family: $main-font;
}
a{
    font-family: $main-font;
    text-decoration: none;
}
li{
    font-family: $main-font;
}