.technologies {
  @include center();
  display: flex;
  flex-direction: column;
  .lists__technologies {
    display: flex;
    flex-direction: row;
    gap: 32px;
    
    .list__technologies {
      .list {
        display: flex;
        width: fit-content;
        flex-direction: column;
        gap: 16px;
        height: 320px;
        overflow-y: scroll;
        scrollbar-width:none;
        -ms-overflow-style: none; 
        &::-webkit-scrollbar {
          display: none;
        }
        box-shadow: inset black;
        .list__item {
          display: flex;
          flex-direction: row;
          gap: 20px;
          align-items: center;
          width: 223px;
          margin-left: -32px;
        }
      }
    }
  }
  .list__technologies-sideways{
    display: flex;
    flex-direction: column;
    align-items: center;
    .list{
      display: flex;
      flex-direction: row;
      gap:3rem;
      .list__item{
        text-align: center;
        list-style: none;
      }
    }
    
  }
}
