.nav{
    display: flex;
  justify-content: space-evenly;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;

    .nav__items{
        display: flex;
        gap: 32px;
        font-size: 26px;
    }
    .nav__item{
        list-style: none;
        a{
            text-decoration: none;
            color: $dark-gray;
        }
        &:hover:not(.selected){
            text-decoration: underline;
            transform: scale(1.1);
        }
        &.selected a{
            text-decoration: none;
            color: red;
            list-style: none;
            &:hover{
                text-decoration: underline;
                transform: scale(1.1);
            }
        }
    }
    
}