.socialMedia{
    display: flex;
    flex-direction: row;
    gap:2rem;
    .socialMedia__link{
        .socialMediaIcon{
            width: 40px;
            height: 40px;
            
        }
        :hover{
            transform: scale(1.1);
        }
    }
   
}