---
layout: page
title: Discord Bot
paragraph: het is een eigen vrije tijds werk om simpele commando's te gebuiken bij een discord server.
---
<div class="page_images">
    {% image "./src/assets/images/projects/placeholder.png","logo", "page__picture", "1920", "(min-width: 10)"%}

</div>
<div class="page_info">

    <div class="page_info_description">
        <h1>beschrijving</h1>
        <p class="page_info_description_text">
    het is een zelf geschreven discord bot.<br>
    Je kan verschillende commando's oproepen(voorlopig werkt nog maar de ping commando).<br>
   In de toekomst wil hem muziek laten spelen.<br>
    Ook voor paar games een status van item of character tonen die hij wenst te zien<br>
        </p>
        <a href="" target="_blank">voor project klik dan op mij (voorlopig nog geen link)</a>
        </div>
        <div class="class_info_technology">
            <h1>Technologie</h1>
            <ul class="project_technology_list">
                <li class="project_technology_item">node</li>
                <li class="project_technology_item">Discord.js</li>
                <li class="project_technology_item">javascript</li>
                <li class="project_technology_item">Typescript (misschien)</li>
                <li class="project_technology_item">meerdere API's</li>
            </ul>
        </div>
    </div>
    
</div>