---
title: spotify
paragraph: een zelf gemaakte web muziek speler waar bij een lijst van artiesten met hun nummers & ook hun albums dat erbij passen.
---
<div class="page_images">
    {% image "./src/assets/images/projects/spotify/spotify login.png","logo", "page__picture", "1920", "(min-width: 10)"%}
    {% image "./src/assets/images/projects/spotify/spotify register.png","logo", "page__picture", "1920", "(min-width: 10)"%}
    {% image "./src/assets/images/projects/spotify/spotify home.png","logo", "page__picture", "1920", "(min-width: 10)"%}
</div>
<div class="page_info">

    <div class="page_info_description">
        <h1>beschrijving</h1>
        <p class="page_info_description_text">
    Het is een zelf gemaakte applicatie waarbij je kan registeren als een administrator,writer of reader.<br>
    Iedereen kan een profiel foto toevoegen het kan een jpg,png,svg of een gif zijn.<br>
    Als administrator kan je artiesten toevoegen/aanpassen, albums toevoegen/aanpassen en ook voor songs.<br>
    Als writer kan je artiesten aanpassen, albums aanpassen en ook voor songs.<br>
    Als reader kan je alles gewoon bekijken maar geen toepassing voor toevoegen en aanpassen.<br>
        </p>
        <a href="https://github.com/pgmgent-pgm-3/opdracht-2-a-spotify-application-pgm-youritack" target="_blank">voor project click dan op mij</a>
        </div>
        <div class="class_info_technology">
            <h1>Technologie</h1>
            <ul class="project_technology_list">
                <li class="project_technology_item">node</li>
                <li class="project_technology_item">TYPEORM</li>
                <li class="project_technology_item">SQLlite3</li>
                <li class="project_technology_item">UUIDv4</li>
                <li class="project_technology_item">Express</li>
                <li class="project_technology_item">Handlebars</li>
            </ul>
        </div>
    </div>
    
</div>