---
layout: page
title: Todo application
paragraph: het is een zelf gemaakte Todo application waarbij je moet inloggen & per categorie een todo kan plaatsen.
---
<div class="page_images">
    {% image "./src/assets/images/projects/todo/todoLogin.png","logo", "page__picture", "1920", "(min-width: 10)"%}
    {% image "./src/assets/images/projects/todo/todoRegister.png","logo", "page__picture", "1920", "(min-width: 10)"%}
    {% image "./src/assets/images/projects/todo/todoMain.png","logo", "page__picture", "1920", "(min-width: 10)"%}
</div>
<div class="page_info">

    <div class="page_info_description">
        <h1>beschrijving</h1>
        <p class="page_info_description_text">
    Het is een zelf gemaakte applicatie waarbij je kan registeren als een administrator,writer of reader.<br>
    Wanneer je ingelogged bent kan je per categorie een todo item toevoegen.<br>
    wanneer je klaar bent met de todo kan je dan op de vinkje klikken om te melden dat je klaar bent<br>
    Je kan ook uw Todo aanpassen of verwijderen als je ermee klaar bent.<br>
        </p>
        <a href="https://github.com/pgmgent-pgm-3/opdracht-1-just-do-it-pgm-youritack" target="_blank">voor project klik dan op mij</a>
        </div>
        <div class="class_info_technology">
            <h1>Technologie</h1>
            <ul class="project_technology_list">
                <li class="project_technology_item">node</li>
                <li class="project_technology_item">TYPEORM</li>
                <li class="project_technology_item">SQLlite3</li>
                <li class="project_technology_item">UUIDv4</li>
                <li class="project_technology_item">Express</li>
                <li class="project_technology_item">Handlebars</li>
            </ul>
        </div>
    </div>
    
</div>