{% extends "layouts/base.njk" %}
{% block main %}
<div class="list">
    <div class="list__top">
        {% block top %}
        
    {% endblock %}
    </div>
    <div class="list__middle">
        {% block middle %}
            
        {% endblock %}
    </div>
    <div class="list__bottom">
        {% block bottom %}
            
        {% endblock %}
    </div>
</div>
    
{% endblock %}