{% extends "layouts/base.njk" %}

{% block main %}
    <div class="page">
        <section>
            <h1 class="page__Title">{{title}}</h1>
        </section>
        <section>
            {% block content %}
                {{content |safe}}
            {% endblock %}
        </section>
    </div>

{% endblock %}