.grid__column{
    align-items: center;
    display: flex;
    flex-direction: column;
    .grid__column-row{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    margin-bottom: 48px;
}