---
title: mijn diensten
eleventyNavigation:
    key: Diensten
    order: 2
    url: /diensten/
---
{% extends "layouts/grid.njk" %}
{% block top %}
    <h1>diensten dat ik aanbied</h1>
{% endblock %}

{% block right %}
    <div class="diensten">
        <h1>Elektriciteit & Elektronica</h1>
        </div>
{% endblock %}

{% block left %}
    <div class="diensten">
        <h1>Front- en Backend</h1>
        </div>
{% endblock %}
{% block bottom %}
        <div class="diensten">
        <h1>Netwerken</h1>
        </div>
{% endblock %}