@charset 'utf-8';
@import "abstracts/__abstracts-dir";
@import "base/_base-dir";
@import "layouts/_layouts-dir";
@import "components/_componnets-dir";

.selected a{
    text-decoration: none;
    color: red;
    list-style: none;
}